%nav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
  %a.navbar-brand{:href => "#"}
    = image_tag("logo.png", alt: "my.Invoice.R")
  - if user_signed_in?
    %button.navbar-toggler{"aria-controls" => "navbarColor01", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarColor01", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarColor01.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto
        %li.nav-item.active
          = link_to t("dashboard"), root_path, class: 'nav-link'
        %li.nav-item
          %a.nav-link{:href => "#"} Features
        %li.nav-item
          %a.nav-link{:href => "#"} Pricing
        %li.nav-item
          %a.nav-link{:href => "#"} About
      %form.form-inline.my-2.my-lg-0
        %input.form-control.mr-sm-2{:placeholder => "Search", :type => "text"}
        %button.btn.btn-secondary.my-2.my-sm-0{:type => "submit"} Search
